Unit]
Description=Beedude daemon
Requires=beedude.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/bee/
ExecStart=/opt/bee/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/beedude.sock \
          beedude.wsgi:application

[Install]
WantedBy=multi-user.target