<div class="container">

  <div class="modal-header">
      <div class="col-md-4">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mapas</h1>
      </div>
      <div class="col-md-8 d-flex gap-2" role="group" aria-label="Status">
        <button type="button" class="btn btn-outline-light">Total: {{total}}</button>
        <button type="button" class="btn btn-outline-success">Total Ativo: {{total_ativo}}</button>
        <button type="button" class="btn btn-outline-danger">Total Inativo: {{total_desativado}}</button>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="row justify-content-center align-items-center mb-3 mt-3 pe-1 ps-1">
    <div class="col-md-8">
      <h5 class="mb-0">Tabela de Mapas</h5>
    </div>
    <div class="col-md-4 d-flex justify-content-end align-items-center">
    {% if perms.beeapi.add_mapa %}
      <button hx-get="{% url 'mapa_add' %}" hx-target="#modal-content" hx-swap="innerHTML" class="btn btn-success me-1" title="Adicionar">
              <i class="fa fa-plus"></i>
              Adicionar
      </button>
      <button hx-get="{% url 'mapa_import' %}" hx-target="#modal-content" hx-swap="innerHTML" class="btn btn-secondary" style="background-color: #19656e;" title="Importar">
              <i class="fa fa-upload"></i>
              Importar
      </button>
      {% endif %}
    </div>
  </div>
  <div id="tabela">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Servidor</th>
            <th scope="col">Status</th>
            <th scope="col">Padrão</th>
            {% if perms.beeapi.view_mapa %}
            <th class="text-center" scope="col">Ações</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for mapa in page_obj %}
          <tr>
            <th scope="row">{{mapa.id}}</th>
            <td>{{mapa.nome}}</td>
            <td>{{mapa.servidor}}</td>
            {% if mapa.status %}
              <td>Habilitado✅</td>
            {% else %}
            <td>Desabilitado❌</td>
            {% endif %}
            {% if mapa.default %}
            <td>Sim ✅</td>
            {% else %}
            <td>Não</td>
            {% endif %}
              <td class="text-center">
                <div class="btn-group">
                  {% if perms.beeapi.view_mapa %}
                    <button onclick="trocarMapa('{{mapa.id}}')" data-bs-dismiss="modal" class="btn btn-success btn-sm" title="Visualizar">
                        <i class="fa fa-eye"></i>
                    </button>
                  {% endif %}
                  {% if perms.beeapi.change_mapa %}
                    <button hx-get="{% url 'mapa_editar' mapa.id %}" hx-target="#modal-content" hx-swap="innerHTML" class="btn btn-primary btn-sm" title="Editar">
                        <i class="fa fa-edit"></i>
                    </button>
                    <a href="{% url 'mapa_export' mapa.id %}" class="btn btn-secondary btn-sm" title="Exportar">
                        <i class="fa fa-download"></i>
                    </a>
                  {% endif %}
                  </div>
              </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6">Mapas não encontrados</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      {% if page_obj.has_previous %}
        <button class="btn btn-secondary btn-sm"
          hx-get="{% url 'node_listagem' %}?page={{ page_obj.previous_page_number }}"
          hx-target="#tabela"
          hx-include="#mapaid"
          hx-swap="innerHTML">
          <i class="fa-solid fa-backward"></i>
        </button>
      {% endif %}

      <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
        <button class="btn btn-secondary btn-sm"
          hx-get="{% url 'node_listagem' %}?page={{ page_obj.next_page_number }}"
          hx-target="#tabela"
          hx-include="#mapaid"
          hx-swap="innerHTML">
          <i class="fa-solid fa-forward"></i>
        </button>
      {% endif %}

    </div>

  </div>

  <p>

</div>