<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Node - (MP: {{mapa.id}})</h1>
    <button data-bs-dismiss="modal" type="button" class="btn-close" aria-label="Close"></button>
</div>
{% if f == 'nodeEdit' %}
    <form hx-post="{% url 'node_editar' node.nodeid %}" hx-swap="innerHTML" hx-target="#modal-content">
{% else %}
    <form hx-post="{% url 'node_add' %}" hx-swap="innerHTML" hx-target="#modal-content">
{% endif %}
        <div class="modal-body">
            {% csrf_token %}
                <div class="form-group {% if form.non_field_errors %}form-erros{% endif %}">
                    {{ form.non_field_errors }}
                </div>
                <div class="form-group {% if form.nome.errors %}form-erros{% endif %}">
                    <label for="id_nome">Nome:</label>
                    {{ form.nome }}
                    {{form.nome.errors}}
                </div>
            <div class="form-group {% if form.descricao.errors %}form-erros{% endif %}">
                <label for="id_descricao">Descrição:</label>
                {{ form.descricao }}
                {{ form.descricao.errors }}
            </div>
            {% if f == 'nodeEdit' %}
            <p>
            <div class="table-responsive">
                <label>Tabela de Itens:</label>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Itemid</th>
                        <th scope="col">Host</th>
                        <th scope="col">Item</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Coleta</th>
                        {% if perms.beeapi.view_node %}
                        <th class="text-center" scope="col">Ações</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for k,v in itens %}
                        <tr>
                        <th scope="row">{{k}}</th>
                        <td>{{v.host}}</td>
                        <td>{{v.nome}}</td>
                        <td>{{v.lastvalue}}</td>
                        <td>{{v.lastclock_dt}}</td>
                        <td class="text-center">
                            {% if perms.beeapi.view_node %}
                            <button hx-get="{% url 'grafico' %}" hx-include="#mapaid" hx-vals='{"itemid": {{k}}}' hx-swap="innerHTML" hx-target="#modal-content3" class="btn btn-sm" style="background-color: #19656e;" title="Gráfico">
                                <i class="fa fa-chart-line"></i>
                            </button>
                            {% endif %}
                            {% if perms.beeapi.change_node %}
                            <button hx-get="{% url 'integracao_inicio' %}" hx-vals='{"elementoid": "{{node.nodeid}}", "elemento": "node"}' hx-swap="innerHTML" hx-target="#modal-content" class="btn btn-success btn-sm" title="Novo">
                                <i class="fa fa-plus"></i>
                            </button>
                            {% endif %}
                            {% if perms.beeapi.change_node %}
                            <button hx-get="{% url 'edita_itens_triggers' %}" hx-vals='{"elementoid": "{{node.nodeid}}", "elemento": "node", "itemid": {{k}}}' hx-swap="none" class="btn btn-danger btn-sm" title="Remover">
                                <i class="fa fa-trash"></i>
                            </button>
                            {% endif %}
                        </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Itens não encontrados</td>
                            <td class="text-center">
                                {% if perms.beeapi.change_node %}
                                <button hx-get="{% url 'integracao_inicio' %}" hx-vals='{"elementoid": "{{node.nodeid}}", "elemento": "node"}' hx-swap="innerHTML" hx-target="#modal-content" class="btn btn-success btn-sm" title="Novo">
                                    <i class="fa fa-plus"></i>
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="table-responsive">
                <label>Tabela de Triggers:</label>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Triggerid</th>
                        <th scope="col">Host</th>
                        <th scope="col">Trigger</th>
                        <th scope="col">Status</th>
                        <th scope="col">Modo</th>
                        {% if perms.beeapi.change_node %}
                        <th class="text-center" scope="col">Ações</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for k,v in triggers %}
                        <tr>
                        <th scope="row">{{k}}</th>
                        <td>{{v.host}}</td>
                        <td>{{v.nome}}</td>
                        {% if v.status == 'up' %}
                        <td class="text-success"><i class="fa-solid fa-toggle-on"></i> {{v.status}}</td>
                        {% elif v.status == 'down' %}
                            <td class="text-danger"><i class="fa-solid fa-toggle-off"></i> {{v.status}}</td>
                        {% else %}
                        <td class="text-secondary"><i class="fa-solid fa-circle-exclamation"></i> {{v.status}}</td>
                        {% endif %}
                        <td>{{modo}}</td>
                        <td class="text-center">
                            {% if perms.beeapi.add_node %}
                            <button hx-get="{% url 'integracao_inicio' %}" hx-vals='{"elementoid": "{{node.nodeid}}", "elemento": "node"}' hx-swap="innerHTML" hx-target="#modal-content" class="btn btn-success btn-sm" title="Novo">
                                <i class="fa fa-plus"></i>
                            </button>
                            {% endif %}
                            {% if perms.beeapi.change_node %}
                            <button hx-get="{% url 'modo' %}" hx-vals='{"elementoid": "{{node.nodeid}}", "elemento": "node", "mapaid": "{{mapa.id}}"}' hx-swap="innerHTML" hx-targe="#modal-content" class="btn btn-primary btn-sm" title="Editar">
                                <i class="fa fa-edit"></i>
                            </button>
                            {% endif %}
                            {% if perms.beeapi.change_node %}
                            <button hx-get="{% url 'edita_itens_triggers' %}" hx-vals='{"elementoid": "{{node.nodeid}}", "elemento": "node", "triggerid": {{k}}}' hx-swap="none" class="btn btn-danger btn-sm" title="Remover">
                                <i class="fa fa-trash"></i>
                            </button>
                            {% endif %}
                        </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Triggers não encontradas</td>
                            <td class="text-center">
                            {% if perms.beeapi.change_node %}
                                <button hx-get="{% url 'integracao_inicio' %}" hx-vals='{"elementoid": "{{node.nodeid}}", "elemento": "node"}' hx-swap="innerHTML" hx-target="#modal-content" class="btn btn-success btn-sm" title="Novo">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="form-group {% if form.label_template.errors %}form-erros{% endif %}">
            <label for="id_label_template">Label template:</label>
                {{ form.label_template }}
                {{ form.label_template.errors }}
            </div>
            <div class="form-group {% if form.icone.errors %}form-erros{% endif %}">
                <label for="id_icone">Icone:</label>
                {{ form.icone }}
                {{ form.icone.errors }}
            </div>
                <label for="id_classe">Classe:</label>
            <div class="form-group {% if form.classe.errors %}form-erros{% endif %}">
                {{ form.classe }}
                {{ form.classe.errors }}
            </div>
            <div class="form-group {% if form.mapa.errors %}form-erros{% endif %}">
            <label for="id_mapa">Mapa:</label>
                {{ form.mapa }}
                {{ form.mapa.errors }}
            </div>

        </div>   

        <div class="modal-footer">
            <button data-bs-dismiss="modal" type="button" class="btn btn-secondary" style="background-color: #334155;" ><i class="fa-solid fa-close"></i> Fechar</button>
            {% if perms.beeapi.change_node %}
            <button type="submit" name="action" value="salvar" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
            {% endif %}
            {% if f == 'nodeEdit' and perms.beeapi.delete_node %}
            <button type="submit" name="action" value="remover" class="btn btn-danger"><i class="fa fa-trash"></i> Remover</button>
            {% endif %}
        </div>
    </form>
</div>